body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: purple;
}


#hard{
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: center;vertical-align: top;
  display: inline-block;
  overflow: hidden;
}

.card {
  position: relative;
  transition: all .8s linear;
  transform-style: preserve-3d;
  margin: 5px;
}
.card:active {
  position: relative;
  transition: all .8s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
  height: 200px;
  width: 200px;
}

.img-match .front {
  display: none;
}

.back {
  transform: rotateY(180deg);
  filter: FlipH;
  background-color: yellow;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.front {
  background-position: center;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-color: blue;
  background-image: url(img/front.png);
  width: 200px;
  height: 200px;
}

.cardbox{
  padding-top: 60px;
  margin: 5px;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}
.img{
  margin-top: 60px;
  height: 200px;
  width: 200px;
  background-color: blue;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.img:hover{
  transition-duration: 0.2s;
  transform: scale(1.06);
}

.img-display{
  background-color: yellow;
  transform: rotateY(360deg);
  animation-duration: 0.8s;
}

.img-match{
  background-color: gold;
}

.reset-btn {
  border: 8px solid white;
  background-color: purple;
  color: white;
  position: fixed;
  z-index: 2;
  width: 400px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -125px;
  right: 50%;
  font-size: 40px;
  font-weight: 700;
}
